---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nsmgr-cm
  namespace: kubeslice-system
data:
  create-nsmgr-svc.sh: |-
    #!/usr/bin/env bash
    #
    # Service name should be an RFC-1035 label name.
    # Get the md5 hash of the node name to use as the name of the
    # nsmgr service.
    SVC_NAME="nsm-$(echo $MY_NODE_NAME | md5sum | awk '{print $1}')"
    kubectl get svc $SVC_NAME -n kubeslice-system
    if [[ $? -eq 1 ]]; then
        echo "Creating service $SVC_NAME"
        kubectl create service clusterip $SVC_NAME --tcp=5001:5001 --save-config=true -n kubeslice-system
        if [[ $? -eq 1 ]]; then
            echo "Failed to create service"
            exit 1
        fi
    fi

    kubectl label po $MY_POD_NAME nsmgr-svc=$SVC_NAME --overwrite -n kubeslice-system
    if [[ $? -eq 1 ]]; then
        echo "Failed to label the pod"
        exit 1
    fi

    SELECTOR="nsmgr-svc=$SVC_NAME"
    kubectl get service $SVC_NAME -oyaml -n kubeslice-system | kubectl set selector --local=false -f - "$SELECTOR" -oyaml -n kubeslice-system
    if [[ $? -eq 1 ]]; then
        echo "Failed to set selector on the service"
        exit 1
    fi

---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: nsmgr
  labels:
    app: nsmgr
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: nsmgr
  template:
    metadata:
      labels:
        app: nsmgr
    spec:
      serviceAccountName: nsmgr-acc
      imagePullSecrets:
      - name: {{ template "imagePullSecrets.secretName" . }}
      initContainers:
        - env:
          - name: MY_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          image: "{{ .Values.global.imageRegistry }}/alpine-k8s:1.32.2"
          imagePullPolicy: IfNotPresent
          name: nsmgr-init-svc-creator
          command:
            - /bin/sh
            - /tmp/create-nsmgr-svc.sh
          volumeMounts:
          - mountPath: /tmp/
            name: nsm-svc-config-volume
      imagePullSecrets:
      - name: {{ template "imagePullSecrets.secretName" . }}
      containers:
        - image: '{{ .Values.global.imageRegistry }}/{{ .Values.nsmgr.imageRegistry }}:{{ .Values.nsmgr.imageTag }}'
          imagePullPolicy: IfNotPresent
          {{- if eq "true" ( include "distro.openshift" . ) }}
          securityContext:
            privileged: true
          {{- end }}
          name: nsmgr
          ports:
            - containerPort: 5001
          env:
            - name: NSM_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NSM_REGISTRY_URL
              value: "registry:5002"
            #            - name: DLV_LISTEN_NSMGR
            #              value: :40000
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: NSM_LISTEN_ON
              value: unix:///var/lib/networkservicemesh/nsm.io.sock,tcp://:5001
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: INSECURE
              value: {{ .Values.insecure | default false | quote }}
            - name: TRACER_ENABLED
              value: {{ .Values.global.JaegerTracing | default false | quote }}
            - name: NSM_OPENTELEMETRYENDPOINT
              value: jaeger.{{ .Release.Namespace }}:6831
            - name: JAEGER_AGENT_HOST
              value: jaeger.{{ .Release.Namespace }}
            - name: JAEGER_AGENT_PORT
              value: "6831"
            - name: FORWARDER_NAME
              value: "kernel"
            - name: NSM_DIAL_TIMEOUT
              value: "5000ms"
            - name: NSM_LOG_LEVEL
              value: TRACE
          volumeMounts:
            - name: kubelet-socket
              mountPath: /var/lib/kubelet/device-plugins
              readOnly: true
            - name: nsm-socket
              mountPath: /var/lib/networkservicemesh
            - name: nsm-config-volume
              mountPath: /var/lib/networkservicemesh/config/
          resources:
            requests:
              cpu: 200m
              memory: 100Mi
            limits:
              memory: 200Mi
              cpu: 500m
        - image: '{{ .Values.global.imageRegistry }}/{{ .Values.nsmgr.excludePrefixesImageRegistry }}:{{ .Values.nsmgr.excludePrefixesImageTag }}'
          imagePullPolicy: IfNotPresent
          {{- if eq "true" ( include "distro.openshift" . ) }}
          securityContext:
            privileged: true
          {{- end }}
          name: exclude-prefixes
          env:
            - name: NSM_LOG_LEVEL
              value: TRACE
            - name: NSM_CONFIG_MAP_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: NSM_PREFIXES_OUTPUT_TYPE
              value: config-map
          volumeMounts:
            - name: nsm-config-volume
              mountPath: /var/lib/networkservicemesh/config/
          resources:
            limits:
              memory: 40Mi
              cpu: 75m
      volumes:
        - hostPath:
            path: /var/lib/kubelet/device-plugins
            type: DirectoryOrCreate
          name: kubelet-socket
        - name: nsm-socket
          hostPath:
            path: /var/lib/networkservicemesh
            type: DirectoryOrCreate
        - name: nsm-config-volume
          configMap:
            name: nsm-config
        - configMap:
            defaultMode: 420
            name: nsmgr-cm
          name: nsm-svc-config-volume
      tolerations:
        - key: "kubeslice.io/node-type"
          operator: "Equal"
          value: "gateway"
          effect: "NoSchedule"
        - key: "kubeslice.io/node-type"
          operator: "Equal"
          value: "gateway"
          effect: "NoExecute"
        - operator: "Exists"
